#mainHeader {
    background-color: #057fbe;
    height: 100px;
    text-align: center;
}

#mainLogo {
    margin-top: 10px;
    margin-left: 25px;
    height: 75px;
}
#mainLogo2 {
    margin-top: 10px;
    margin-left: -35px;
    height: 75px;
}

#bannerText {
	font-size: 25px;
	color: white;
	display: inline-block;
	position: absolute;
	margin-top: 40px;
	margin-left: 15px;
}
